.app-topbar {
    padding-top: 15px;
}

.app-topbar .app-button {
    top: 12px;
}

.color-text {
    display: inline-block;
    color: white;
    width: 50%;
    height: 100%;
}

#color-list div {
    height: 100px;
}

.color-value {
    text-align: center;
    font-size: 25px;
}
